#!/bin/bash

### add registry as private registry in k3s configuration

cat << EOF >> /home/ec2-user/registries.yaml
mirrors:
  docker.io:
    endpoint:
      - "https://registry-1.docker.io"
  ${master_local_ip}:5000:
    endpoint:
      - "http://${master_local_ip}:5000"
EOF

### install k3s agent with private registry configuration and docker enabled.

export INSTALL_K3S_VERSION=v1.18.4+k3s1
export K3S_NODE_NAME=$(curl http://169.254.169.254/latest/meta-data/local-hostname)
export PROVIDER_ID=aws:///$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)/$(curl -s http://169.254.169.254/latest/meta-data/instance-id)

export INSTALL_K3S_EXEC=" \
    --kubelet-arg cloud-provider=external \
    --node-label KubernetesCluster=${cluster_name} \
    --node-label ${label}=${value} \
    --node-label groupRole=worker \
    --node-label instanceEnv=${instance_env} \
    --node-label purpose=${purpose} \
    --private-registry \"/home/ec2-user/registries.yaml\" \
    --kubelet-arg provider-id=$PROVIDER_ID \
    --kubelet-arg allowed-unsafe-sysctls=kernel.msg*,net.core.somaxconn 
    "

curl -sfL https://get.k3s.io | K3S_URL=https://${master_ip}:6443 K3S_TOKEN=${node_token} sh -
