#!/bin/bash

BRANCH_NAME=etcd_ha

export CLUSTER_NAME=${cluster_name}
export MASTER_PRIVATE_IP=${master_private_ip}
export MASTER_PUBLIC_IP=${master_public_ip}
export LABEL=${label}
export VALUE=${value}
export AGENT_TOKEN=${agent_token}

url="https://raw.githubusercontent.com/transhapHigsn/urban-spot/$BRANCH_NAME/scripts/install_worker.sh"
curl -sfL $url | sh -
