#!/bin/bash

set -e

BRANCH_NAME=master

### installing essentials

sudo yum update -y
sudo yum install git -y

### setup docker registry

registry_setup_url=https://raw.githubusercontent.com/transhapHigsn/urban-spot/$BRANCH_NAME/scripts/setup_registry_amazon_linux.sh
curl -sfL $registry_setup_url | sudo sh -

### pull all images into private registry

url=https://raw.githubusercontent.com/transhapHigsn/urban-spot/$BRANCH_NAME/scripts/read_images.sh
curl -sfL $url | sh -

### install k3s server

export K3S_TOKEN=${cluster_token}
export CLUSTER_NAME=${cluster_name}

k3s_install_url=https://raw.githubusercontent.com/transhapHigsn/urban-spot/$BRANCH_NAME/scripts/install_primary.sh
curl -sfL $k3s_install_url | sh -

### run aws cloud controller manager manifest.

kubectl apply -f https://raw.githubusercontent.com/transhapHigsn/cloud-provider-aws/higsn-dev/manifests/rbac.yaml
kubectl apply -f https://raw.githubusercontent.com/transhapHigsn/cloud-provider-aws/higsn-dev/manifests/aws-cloud-controller-manager-daemonset.yaml

### run calico manifest here.

kubectl apply -f https://raw.githubusercontent.com/transhapHigsn/urban-spot/$BRANCH_NAME/manifests/calico.yaml
